body {
  font-family: cursive;
  background-color: #20205a;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

canvas {
  margin-bottom: 20px;
}

select {
    border: #001457, 5px, solid
    border-radius: 20px;
    height: 50px;
    font-size: 20px;
    font-family: cursive;
    color: white;
    background: blue;
    font-weight: 500;
}

label {
    font-family: cursive;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

a {
    font-family: cursive;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #225;
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: blue;
    border-radius: 50%;
    cursor: pointer;
}

.controls {
  margin-bottom: 20px;
}

#selectedInfo {
  margin-bottom: 10px;
  font-weight: bold;
}

.thumbs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  overflow-x: auto;
  padding: 5px;
}

.thumbs-container img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border: 2px solid transparent;
  cursor: pointer;
  background: #0a1025;
  border-radius: 20px;
}

.thumbs-container img.selected {
  border-color: #007bff;
}

.slider-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.slider {
  display: flex;
  align-items: center;
  gap: 10px;
}
